{% extends "base.html" %} {% block content %}
<h1 class="mt-5">About</h1>
<div class="article_content">
    <p><img src="https://tdody.github.io/assets/img/Personal.png" style="float:left;width:191px;height:280px;padding-right:20px;"> My name is Thibault Dody.<br><br>I am a lead engineer with a strong background in mathematics. My current work focuses on performing
        risk analysis for nuclear power plants, I also work on software development. We perform probability risk assessment related to external aggressions such as seismic, tornado missiles or floods.<br><br> I completed my <b>MEng</b> at MIT with a
        <a href="https://dspace.mit.edu/handle/1721.1/82709" target="_blank">
             thesis 
        </a> focused on applying numerical optimization techniques to reduce the impact of earthquakes on buildings. Before joining the MIT program, I studied mathematics and physics as part of the preparatory
        <a href="https://en.wikipedia.org/wiki/Classe_pr%C3%A9paratoire_aux_grandes_%C3%A9coles" target="_blank">
             program 
        </a> to enter French engineering schools. I then joined the <b>MSc</b> program at the
        <a href="https://www.estp.fr/en" target="_blank">
             ESTP 
        </a> school in Paris to study structural engineering.<br>
        <br> You can read more about my past
        <a href="https://tdody.github.io/projects/" target="_blank">
             projects 
        </a> or obtain a copy of my
        <a href="http://tdody.github.io/docs/DodyResume.pdf" target="_blank">
             CV 
        </a>.
        <br clear="left"></p>
</div>
<h1 class="mt-5">References</h1>
<div class="article_content">
    [1] Wikiart,
    <a href="https://www.wikiart.org/" target=" _blank ">
        https://www.wikiart.org/
    </a><br> [2] Lucas Oliveira David, Wikiart Retrieval,
    <a href="https://www.wikiart.org/" target=" _blank ">
        https://github.com/lucasdavid/wikiart/
    </a>
</div>
{% endblock %}