{% extends "base.html" %} {% block content %}
<h1 class="mt-5">Art Styles</h1>

<p>Our model is capable of making predictions for the most common 25 art styles. The table below depicts the list of art styles covered by this project.</p>
<p>Note: some similar styles have been grouped together.</p>
<table class="noborder" style="width:100%">
    <colgroup>
        <col span="4" style="width: 25%;">
    </colgroup>
    <tbody>
        <tr class="noborder">
            <td class="noborder">
                Renaissance:
                <ul>
                    <li>Early Renaissance</li>
                    <li>Northern Renaissance</li>
                    <li>High Renaissance</li>
                    <li>Mannerism (Late Renaissance)</li>
                </ul>
            </td>
            <td class="noborder">
                Baroque:
                <ul>
                    <li>Baroque</li>
                    <li>Rococo</li>
                </ul>
            </td>
            <td class="noborder">Impressionism:
                <ul>
                    <li>Impressionism</li>
                    <li>Post-Impressionism</li>
                </ul>
            </td>
            <td class="noborder">
                Abstract:
                <ul>
                    <li>Abstract Art</li>
                    <li>Abstract Expressionism</li>
                    <li>Art Informel</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<table style="width:100%">
    <thead>
        <tr>
            <th class="style" style="padding:10px">Style</th>
            <th class="image" style="padding:10px">Famous Artwork</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding:10px">
                <h5>Early Renaissance</h5>
                <br>Early Italian Renaissance art began to emerge in Florence during the first decade of the 15th century. Building upon Proto-Renaissance art, including the work of Proto-Renaissance artists like Cimabue and Giotto (see the latter's Scrovegni
                Chapel frescoes, especially The Betrayal of Christ (1305) and The Lamentation of Christ (1305) - as well as the Pre-Renaissance painting of Duccio di Buoninsegna) - Florentine and other Tuscan artists such as Filippo Brunelleschi, Donatello,
                Masaccio and Andrea Mantegna, instigated a series of discoveries and improvements in all the visual arts (architecture, sculpture, painting), which effectively revolutionized the face of public and private art in Italy and beyond. It even
                influenced the conservative Sienese School of painting in Siena. Although it eventually spread throughout Italy, the Early Renaissance was centred on Florence and patronized by the Florentine Medici family. Towards the end of the century,
                the movement reached its high point during the period known as the High Renaissance (c.1490-1530): notably in the works of Leonardo da Vinci, Raphael, Michelangelo and Titian. (Note: the term "Renaissance", used to describe the upsurge
                of Italian art and culture, during the period 1400-1530, was first coined by the 19th century French historian Jules Michelet 1798-1874.)<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/fra-angelico" target="_blank">
                    Fra Angelico
                </a>,
                <a href="https://www.wikiart.org/en/benozzo-gozzoli" target="_blank">
                    Benozzo Gozzoli
                </a>,
                <a href="https://www.wikiart.org/en/sandro-botticelli" target="_blank">
                    Sandro Botticelli
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads0.wikiart.org/images/piero-della-francesca/the-annunciation.jpg!Large.jpg" alt="Early Renaissance" , style="width:400px">
                    <figcaption><i>Piero Francesca della, The Annunciation, 1460</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Northern Renaissance</h5>
                <br>The Northern Renaissance was the Renaissance that occurred in Europe north of the Alps. Before 1497, Italian Renaissance humanism had little influence outside Italy. From the late 15th century, its ideas spread around Europe. This
                influenced the German, French, English, Low Countries, Polish Renaissance and other national and localized movements, each with different characteristics and strengths. In France, King Francis I imported Italian art, commissioned Italian
                artists (including Leonardo da Vinci), and built grand palaces at great expense, starting the French Renaissance. Trade and commerce in cities like Bruges in the 15th century and Antwerp in the 16th increased cultural exchange between
                Italy and the Low Countries, however in art, and especially architecture, late Gothic influences remained present until the arrival of Baroque even as painters increasingly drew on Italian models.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/albrecht-durer" target="_blank">
                    Albrecht Durer
                </a>,
                <a href="https://www.wikiart.org/en/lucas-cranach-the-elder" target="_blank">
                    Lucas Cranach the Elder
                </a>,
                <a href="https://www.wikiart.org/en/hieronymus-bosch" target="_blank">
                    Hieronymus Bosch
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads6.wikiart.org/images/jan-van-eyck/the-arnolfini-wedding-the-portrait-of-giovanni-arnolfini-and-his-wife-giovanna-cenami-the-1434.jpg!Large.jpg" alt="Northern Renaissance" , style="width:400px">
                    <figcaption><i>Jan van Eyck, The Arnolfini Wedding, 1434</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>High Renaissance</h5>
                <br>In art history, the High Renaissance is a short period of the most exceptional artistic production in the Italian states, particularly Rome, capital of the Papal States, and in Florence, during the Italian Renaissance. Most art historians
                state that the High Renaissance started around 1495 or 1500 and ended in 1520 with the death of Raphael, although some say the High Renaissance ended about 1525, or in 1527 with the Sack of Rome by the army of Charles V, Holy Roman Emperor,
                or about 1530 (see next section for specific art historians’ positions). The best-known exponents of painting, sculpture and architecture of the High Renaissance include Leonardo da Vinci, Michelangelo, Raphael and Bramante. In recent
                years, the use of the term has been frequently criticized by some academic art historians for oversimplifying artistic developments, ignoring historical context, and focusing only on a few iconic works.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/raphael" target="_blank">
                    Raphael
                </a>,
                <a href="https://www.wikiart.org/en/michelangelo" target="_blank">
                    Michelangelo
                </a>,
                <a href="https://www.wikiart.org/en/leonardo-da-vinci" target="_blank">
                    Leonardo da Vinci
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads6.wikiart.org/images/raphael/school-of-athens-detail-from-right-hand-side-showing-diogenes-on-the-steps-and-euclid-1511.jpg!Large.jpg" alt="High Renaissance" , style="width:400px">
                    <figcaption><i>Raphael, The School of Athens, 1511</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Mannerism (Late Renaissance)</h5>
                <br>Mannerism, also known as Late Renaissance, is a style in European art that emerged in the later years of the Italian High Renaissance around 1520, spreading by about 1530 and lasting until about the end of the 16th century in Italy,
                when the Baroque style largely replaced it. Northern Mannerism continued into the early 17th century. Stylistically, Mannerism encompasses a variety of approaches influenced by, and reacting to, the harmonious ideals associated with artists
                such as Leonardo da Vinci, Raphael, and early Michelangelo. Where High Renaissance art emphasizes proportion, balance, and ideal beauty, Mannerism exaggerates such qualities, often resulting in compositions that are asymmetrical or unnaturally
                elegant. The style is notable for its intellectual sophistication as well as its artificial (as opposed to naturalistic) qualities. This artistic style privileges compositional tension and instability rather than the balance and clarity
                of earlier Renaissance painting. Mannerism in literature and music is notable for its highly florid style and intellectual sophistication. The definition of Mannerism and the phases within it continues to be a subject of debate among art
                historians. For example, some scholars have applied the label to certain early modern forms of literature (especially poetry) and music of the 16th and 17th centuries. The term is also used to refer to some late Gothic painters working
                in northern Europe from about 1500 to 1530, especially the Antwerp Mannerists—a group unrelated to the Italian movement. Mannerism has also been applied by analogy to the Silver Age of Latin literature.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/tintoretto" target="_blank">
                    Tintoretto
                </a>,
                <a href="https://www.wikiart.org/en/paolo-veronese" target="_blank">
                    Paolo Veronese
                </a>,
                <a href="https://www.wikiart.org/en/el-greco" target="_blank">
                    El Greco
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads2.wikiart.org/images/jacopo-pontormo/joseph-in-egypt.jpg!Large.jpg" alt="Mannerism (Late Renaissance)" , style="width:400px">
                    <figcaption><i>Jacopo Pontormo, Joseph in Egypt, 1517</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Baroque</h5>
                <br>The Baroque is a style of architecture, music, dance, painting, sculpture and other arts that flourished in Europe from the early 17th century until the 1740s. In the territories of the Spanish and Portuguese empires including the
                Iberian Peninsula it continued, together with new styles, until the first decade of the 1800s. It followed Renaissance art and Mannerism and preceded the Rococo (in the past often referred to as "late Baroque") and Neoclassical styles.
                It was encouraged by the Catholic Church as a means to counter the simplicity and austerity of Protestant architecture, art and music, though Lutheran Baroque art developed in parts of Europe as well.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/rembrandt" target="_blank">
                    Rembrandt
                </a>,
                <a href="https://www.wikiart.org/en/peter-paul-rubens" target="_blank">
                    Peter Paul Rubens
                </a>,
                <a href="https://www.wikiart.org/en/bartolome-esteban-murillo" target="_blank">
                    Bartolome Esteban Murillo
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads5.wikiart.org/00129/images/diego-velazquez/las-meninas.jpg!Large.jpg" alt="Baroque" , style="width:400px">
                    <figcaption><i>Diego Velazquez, Las Meninas, 1656</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Rococo</h5>
                <br>Rococo, less commonly Roccoco or Late Baroque, is an exceptionally ornamental and theatrical style of architecture, art and decoration which combines asymmetry, scrolling curves, gilding, white and pastel colors, sculpted molding,
                and trompe l'oeil frescoes to create surprise and the illusion of motion and drama. It is often described as the final expression of the Baroque movement. The Rococo style began in France in the 1730s as a reaction against the more formal
                and geometric Style Louis XIV. It was known as the style rocaille, or rocaille style. It soon spread to other parts of Europe, particularly northern Italy, Austria, southern Germany, Central Europe and Russia. It also came to influence
                the other arts, particularly sculpture, furniture, silverware and glassware, painting, music, and theatre. Although originally a secular style primarily used for interiors of private residences the Rococo had a spiritual aspect to it which
                led to its widespread use in church interiors, particularly in Central Europe, Portugal, and South America.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/george-romney" target="_blank">
                    George Romney
                </a>,
                <a href="https://www.wikiart.org/en/joshua-reynolds" target="_blank">
                    Joshua Reynolds
                </a>,
                <a href="https://www.wikiart.org/en/thomas-gainsborough" target="_blank">
                    Thomas Gainsborough
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads7.wikiart.org/images/jean-honore-fragonard/the-swing-1767.jpg!Large.jpg" alt="Rococo" , style="width:400px">
                    <figcaption><i>Jean-Honore Fragonard, The Swing, 1767</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Neoclassicism</h5>
                <br>Neoclassicism was a Western cultural movement in the decorative and visual arts, literature, theatre, music, and architecture that drew inspiration from the art and culture of classical antiquity. Neoclassicism was born in Rome largely
                thanks to the writings of Johann Joachim Winckelmann, at the time of the rediscovery of Pompeii and Herculaneum, but its popularity spread all over Europe as a generation of European art students finished their Grand Tour and returned
                from Italy to their home countries with newly rediscovered Greco-Roman ideals. The main Neoclassical movement coincided with the 18th-century Age of Enlightenment, and continued into the early 19th century, laterally competing with Romanticism.
                In architecture, the style continued throughout the 19th, 20th and up to the 21st century.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/giovanni-battista-piranesi" target="_blank">
                    Giovanni Battista Piranesi
                </a>,
                <a href="https://www.wikiart.org/en/jean-auguste-dominique-ingres" target="_blank">
                    Jean Auguste Dominique Ingres
                </a>,
                <a href="https://www.wikiart.org/en/john-singleton-copley" target="_blank">
                    John Singleton Copley
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads5.wikiart.org/images/jacques-louis-david/the-death-of-marat-1793.jpg!Large.jpg" alt="Neoclassicism" , style="width:400px">
                    <figcaption><i>Jacques-Louis David, The Death of Marat, 1793</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Romanticism</h5>
                <br>Romanticism (also known as the Romantic era) was an artistic, literary, musical and intellectual movement that originated in Europe towards the end of the 18th century, and in most areas was at its peak in the approximate period from
                1800 to 1890. Romanticism was characterized by its emphasis on emotion and individualism as well as glorification of all the past and nature, preferring the medieval rather than the classical. It was partly a reaction to the Industrial
                Revolution, the aristocratic social and political norms of the Age of Enlightenment, and the scientific rationalization of nature—all components of modernity. It was embodied most strongly in the visual arts, music, and literature, but
                had a major impact on historiography, education, the social sciences, and the natural sciences. It had a significant and complex effect on politics, with romantic thinkers influencing liberalism, radicalism, conservatism, and nationalism.<br><br>                Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/gustave-dore" target="_blank">
                    Gustave Dore
                </a>,
                <a href="https://www.wikiart.org/en/ivan-aivazovsky" target="_blank">
                    Ivan Aivazovsky
                </a>,
                <a href="https://www.wikiart.org/en/francisco-goya" target="_blank">
                    Francisco Goya
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads5.wikiart.org/images/eugene-delacroix/the-liberty-leading-the-people-1830.jpg!Large.jpg" alt="Romanticism" , style="width:400px">
                    <figcaption><i>Eugene Delacroix, The Liberty Leading the People, 1830</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Ukiyo-e</h5>
                <br>Ukiyo-e[a] is a genre of Japanese art which flourished from the 17th through 19th centuries. Its artists produced woodblock prints and paintings of such subjects as female beauties; kabuki actors and sumo wrestlers; scenes from history
                and folk tales; travel scenes and landscapes; flora and fauna; and erotica. The term ukiyo-e translates as "picture[s] of the floating world".<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/utagawa-kuniyoshi" target="_blank">
                    Utagawa Kuniyoshi
                </a>,
                <a href="https://www.wikiart.org/en/katsushika-hokusai" target="_blank">
                    Katsushika Hokusai
                </a>,
                <a href="https://www.wikiart.org/en/toshusai-sharaku" target="_blank">
                    Tōshūsai Sharaku
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads6.wikiart.org/00129/images/katsushika-hokusai/the-great-wave-off-kanagawa.jpg!Large.jpg" alt="Ukiyo-e" , style="width:400px">
                    <figcaption><i>Katsushika Hokusai, The Great Wave off Kanagawa, 1831</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Symbolism</h5>
                <br>Symbolism was a late nineteenth-century art movement of French, Russian and Belgian origin in poetry and other arts. In literature, the style originates with the 1857 publication of Charles Baudelaire's Les Fleurs du mal. The works
                of Edgar Allan Poe, which Baudelaire admired greatly and translated into French, were a significant influence and the source of many stock tropes and images. The aesthetic was developed by Stéphane Mallarmé and Paul Verlaine during the
                1860s and 1870s. In the 1880s, the aesthetic was articulated by a series of manifestos and attracted a generation of writers. The term "symbolist" was first applied by the critic Jean Moréas, who invented the term to distinguish the Symbolists
                from the related Decadents of literature and of art. Distinct from, but related to, the style of literature, symbolism in art is related to the gothic component of Romanticism and Impressionism.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/nicholas-roerich" target="_blank">
                    Nicholas Roerich
                </a>,
                <a href="https://www.wikiart.org/en/odilon-redon" target="_blank">
                    Odilon Redon
                </a>,
                <a href="https://www.wikiart.org/en/kuzma-petrov-vodkin" target="_blank">
                    Kuzma Petrov-Vodkin
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads5.wikiart.org/images/william-blake/oberon-titania-and-puck-with-fairies-dancing(1).jpg!Large.jpg" alt="Symbolism" , style="width:400px">
                    <figcaption><i>William Blake , Oberon, Titania and Puck with Fairies Dancing, 1786</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Naïve Art (Primitivism)</h5>
                <br>Naïve art is usually defined as visual art that is created by a person who lacks the formal education and training that a professional artist undergoes (in anatomy, art history, technique, perspective, ways of seeing). When this aesthetic
                is emulated by a trained artist, the result is sometimes called primitivism, pseudo-naïve art, or faux naïve art. Unlike folk art, naïve art does not necessarily derive from a distinct popular cultural context or tradition; indeed, at
                least in the advanced economies and since the Printing Revolution, awareness of the local fine art tradition has been inescapable, as it diffused through popular prints and other media. Naïve artists are aware of "fine art" conventions
                such as graphical perspective and compositional conventions, but are unable to fully use them, or choose not to. By contrast, outsider art (art brut) denotes works from a similar context but which have only minimal contact with the mainstream
                art world.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/marc-chagall" target="_blank">
                    Marc Chagall
                </a>,
                <a href="https://www.wikiart.org/en/niko-pirosmani" target="_blank">
                    Niko Pirosmani
                </a>,
                <a href="https://www.wikiart.org/en/fernando-botero" target="_blank">
                    Fernando Botero
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads4.wikiart.org/images/henri-rousseau/the-repast-of-the-lion-1907.jpg!Large.jpg" alt="Naïve Art (Primitivism)" , style="width:400px">
                    <figcaption><i>Henri Rousseau, The Repast of the Lion, 1907</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Realism</h5>
                <br>Realism, sometimes called naturalism, in the arts is generally the attempt to represent subject matter truthfully, without artificiality and avoiding artistic conventions, or implausible, exotic, and supernatural elements. Realism
                has been prevalent in the arts at many periods, and can be in large part a matter of technique and training, and the avoidance of stylization. In the visual arts, illusionistic realism is the accurate depiction of lifeforms, perspective,
                and the details of light and colour. But realist or naturalist works of art may, as well or instead of illusionist realism, be "realist" in their subject-matter, and emphasize the mundane, ugly or sordid. This is typical of the 19th-century
                Realist movement that began in France in the 1850s, after the 1848 Revolution, and also social realism, regionalism, or kitchen sink realism. The Realist painters rejected Romanticism, which had come to dominate French literature and art,
                with roots in the late 18th century.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/vincent-van-gogh" target="_blank">
                    Vincent van Gogh
                </a>,
                <a href="https://www.wikiart.org/en/theophile-steinlen" target="_blank">
                    Theophile Steinlen
                </a>,
                <a href="https://www.wikiart.org/en/ilya-repin" target="_blank">
                    Ilya Repin
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads1.wikiart.org/images/gustave-courbet/the-meeting-bonjour-monsieur-courbet-1854.jpg!Large.jpg" alt="Realism" , style="width:400px">
                    <figcaption><i>Gustave Courbet, The Meeting (Bonjour Monsieur Courbet), 1854</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px" style="padding:10px">
                <h5>Impressionism</h5>
                <br>Impressionism is a 19th-century art movement characterized by relatively small, thin, yet visible brush strokes, open composition, emphasis on accurate depiction of light in its changing qualities (often accentuating the effects of
                the passage of time), ordinary subject matter, inclusion of movement as a crucial element of human perception and experience, and unusual visual angles. Impressionism originated with a group of Paris-based artists whose independent exhibitions
                brought them to prominence during the 1870s and 1880s. The Impressionists faced harsh opposition from the conventional art community in France. The name of the style derives from the title of a Claude Monet work, Impression, soleil levant
                (Impression, Sunrise), which provoked the critic Louis Leroy to coin the term in a satirical review published in the Parisian newspaper Le Charivari. The development of Impressionism in the visual arts was soon followed by analogous styles
                in other media that became known as impressionist music and impressionist literature.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/pierre-auguste-renoir" target="_blank">
                    Pierre-Auguste Renoir
                </a>,
                <a href="https://www.wikiart.org/en/claude-monet" target="_blank">
                    Claude Monet
                </a>,
                <a href="https://www.wikiart.org/en/camille-pissarro" target="_blank">
                    Camille Pissarro
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads0.wikiart.org/00129/images/claude-monet/impression-sunrise.jpg!Large.jpg" alt="Impressionism" , style="width:400px">
                    <figcaption><i>Claude Monet, Impression, sunrise, 1872</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Post-Impressionism</h5>
                <br>Post-Impressionism (also spelled Postimpressionism) is a predominantly French art movement that developed roughly between 1886 and 1905, from the last Impressionist exhibition to the birth of Fauvism. Post-Impressionism emerged as
                a reaction against Impressionists' concern for the naturalistic depiction of light and colour. Due to its broad emphasis on abstract qualities or symbolic content, Post-Impressionism encompasses Les Nabis, Neo-Impressionism, Symbolism,
                Cloisonnism, Pont-Aven School, and Synthetism, along with some later Impressionists' work. The movement was led by Paul Cézanne (known as father of Post-impressionism), Paul Gauguin, Vincent van Gogh, and Georges Seurat.<br><br> Most prolific
                artists:
                <br>
                <a href="https://www.wikiart.org/en/vincent-van-gogh" target="_blank">
                    Vincent van Gogh
                </a>,
                <a href="https://www.wikiart.org/en/pyotr-konchalovsky" target="_blank">
                    Pyotr Konchalovsky
                </a>,
                <a href="https://www.wikiart.org/en/paul-cezanne" target="_blank">
                    Paul Cezanne
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads4.wikiart.org/00142/images/vincent-van-gogh/the-starry-night.jpg!Large.jpg" alt="Post-Impressionism" , style="width:400px">
                    <figcaption><i>Vincent van Gogh, The Starry Night, 1889</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Art Nouveau (Modern)</h5>
                <br>Art Nouveau is an international style of art, architecture and applied art, especially the decorative arts, known in different languages by different names: Jugendstil in German, Stile Liberty in Italian, Modernismo catalán in Spanish,
                etc. In English it is also known as the Modern Style (not to be confused with Modernism and Modern architecture). The style was most popular between 1890 and 1910. It was a reaction against the academic art, eclecticism and historicism
                of 19th century architecture and decoration. It was often inspired by natural forms such as the sinuous curves of plants and flowers. Other characteristics of Art Nouveau were a sense of dynamism and movement, often given by asymmetry
                or whiplash lines, and the use of modern materials, particularly iron, glass, ceramics and later concrete, to create unusual forms and larger open spaces.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/nicholas-roerich" target="_blank">
                    Nicholas Roerich
                </a>,
                <a href="https://www.wikiart.org/en/raphael-kirchner" target="_blank">
                    Raphael Kirchner
                </a>,
                <a href="https://www.wikiart.org/en/theophile-steinlen" target="_blank">
                    Theophile Steinlen
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads0.wikiart.org/images/gustav-klimt/the-kiss-1908(1).jpg!Large.jpg" alt="Symbolism" , style="width:400px">
                    <figcaption><i>Gustav Klimt, The Kiss, 1908</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Expressionism</h5>
                <br>Expressionism is a modernist movement, initially in poetry and painting, originating in Germany at the beginning of the 20th century. Its typical trait is to present the world solely from a subjective perspective, distorting it radically
                for emotional effect in order to evoke moods or ideas. Expressionist artists have sought to express the meaning of emotional experience rather than physical reality. Expressionism developed as an avant-garde style before the First World
                War. It remained popular during the Weimar Republic, particularly in Berlin. The style extended to a wide range of the arts, including expressionist architecture, painting, literature, theatre, dance, film and music. The term is sometimes
                suggestive of angst. In a historical sense, much older painters such as Matthias Grünewald and El Greco are sometimes termed expressionist, though the term is applied mainly to 20th-century works. The Expressionist emphasis on individual
                and subjective perspective has been characterized as a reaction to positivism and other artistic styles such as Naturalism and Impressionism.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/ernst-ludwig-kirchner" target="_blank">
                    Ernst Ludwig Kirchner
                </a>,
                <a href="https://www.wikiart.org/en/amedeo-modigliani" target="_blank">
                    Amedeo Modigliani
                </a>,
                <a href="https://www.wikiart.org/en/martiros-sarian" target="_blank">
                    Martiros Sarian
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads2.wikiart.org/images/edvard-munch/the-scream-1893(2).jpg!Large.jpg" alt="Expressionism" , style="width:400px">
                    <figcaption><i>Edvard Munch, The Scream, 1893</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Cubism</h5>
                <br>Cubism is an early-20th-century avant-garde art movement that revolutionized European painting and sculpture, and inspired related movements in music, literature and architecture. Cubism has been considered the most influential art
                movement of the 20th century. The term is broadly used in association with a wide variety of art produced in Paris (Montmartre and Montparnasse) or near Paris (Puteaux) during the 1910s and throughout the 1920s. The movement was pioneered
                by Pablo Picasso and Georges Braque, joined by Jean Metzinger, Albert Gleizes, Robert Delaunay, Henri Le Fauconnier, and Fernand Léger. One primary influence that led to Cubism was the representation of three-dimensional form in the late
                works of Paul Cézanne. A retrospective of Cézanne's paintings had been held at the Salon d'Automne of 1904, current works were displayed at the 1905 and 1906 Salon d'Automne, followed by two commemorative retrospectives after his death
                in 1907. In Cubist artwork, objects are analyzed, broken up and reassembled in an abstracted form—instead of depicting objects from a single viewpoint, the artist depicts the subject from a multitude of viewpoints to represent the subject
                in a greater context.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/pablo-picasso" target="_blank">
                    Pablo Picasso
                </a>,
                <a href="https://www.wikiart.org/en/fernand-leger" target="_blank">
                    Fernand Leger
                </a>,
                <a href="https://www.wikiart.org/en/juan-gris" target="_blank">
                    Juan Gris
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads8.wikiart.org/images/pablo-picasso/harlequin-1918.jpg!Large.jpg" alt="Cubism" , style="width:400px">
                    <figcaption><i>Pablo Picasso, Harlequin, 1918</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Abstract Art</h5>
                <br>Abstract art uses visual language of shape, form, color and line to create a composition which may exist with a degree of independence from visual references in the world. Western art had been, from the Renaissance up to the middle
                of the 19th century, underpinned by the logic of perspective and an attempt to reproduce an illusion of visible reality. By the end of the 19th century many artists felt a need to create a new kind of art which would encompass the fundamental
                changes taking place in technology, science and philosophy. The sources from which individual artists drew their theoretical arguments were diverse, and reflected the social and intellectual preoccupations in all areas of Western culture
                at that time.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/wassily-kandinsky" target="_blank">
                    Wassily Kandinsky
                </a>,
                <a href="https://www.wikiart.org/en/felipe-de-vicente" target="_blank">
                    Felipe De Vicente
                </a>,
                <a href="https://www.wikiart.org/en/janos-mattis-teutsch" target="_blank">
                    Janos Mattis-Teutsch
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads7.wikiart.org/images/wassily-kandinsky/composition-x-1939.jpg" alt="Abstract Art" , style="width:400px">
                    <figcaption><i>Wassily Kandinsky, Composition X, 1939</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Surrealism</h5>
                <br>Surrealism was a cultural movement which developed in Europe in the aftermath of World War I and was largely influenced by Dada. The movement is best known for its visual artworks and writings and the juxtaposition of uncommon imagery.
                Artists painted unnerving, illogical scenes, sometimes with photographic precision, creating strange creatures from everyday objects, and developing painting techniques that allowed the unconscious to express itself. Its aim was, according
                to leader André Breton, to "resolve the previously contradictory conditions of dream and reality into an absolute reality, a super-reality", or surreality. Works of surrealism feature the element of surprise, unexpected juxtapositions
                and non sequitur; however, many surrealist artists and writers regard their work as an expression of the philosophical movement first and foremost, with the works themselves being an artifact. Leader Breton was explicit in his assertion
                that Surrealism was, above all, a revolutionary movement. At the time, the movement was associated with political causes such as communism and anarchism.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/zdislav-beksinski" target="_blank">
                    Zdislav Beksinski
                </a>,
                <a href="https://www.wikiart.org/en/salvador-dali" target="_blank">
                    Salvador Dali
                </a>,
                <a href="https://www.wikiart.org/en/rene-magritte" target="_blank">
                    Rene Magritte
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads6.wikiart.org/images/salvador-dali/the-persistence-of-memory-1931.jpg" alt="Abstract Art" , style="width:400px">
                    <figcaption><i>Salvador Dalí, The Persistence of Memory, 1931</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Abstract Expressionism</h5>
                <br>Abstract expressionism is a post–World War II art movement in American painting, developed in New York in the 1940s. It was the first specifically American movement to achieve international influence and put New York City at the center
                of the western art world, a role formerly filled by Paris. Although the term "abstract expressionism" was first applied to American art in 1946 by the art critic Robert Coates, it had been first used in Germany in 1919 in the magazine
                Der Sturm, regarding German Expressionism. In the United States, Alfred Barr was the first to use this term in 1929 in relation to works by Wassily Kandinsky.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/roger-weik" target="_blank">
                    Roger Weik
                </a>,
                <a href="https://www.wikiart.org/en/cy-twombly" target="_blank">
                    Cy Twombly
                </a>,
                <a href="https://www.wikiart.org/en/george-stefanescu" target="_blank">
                    George Stefanescu
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads4.wikiart.org/images/arshile-gorky/the-liver-is-the-cock-s-comb.jpg" alt="Abstract Expressionism" , style="width:400px">
                    <figcaption><i>Arshile Gorky, The Liver is the Cock's Comb, 1944</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Art Informel</h5>
                <br>Informalism or Art Informel is a pictorial movement from the 1940s–1950s, that includes all the abstract and gestural tendencies that developed in France and the rest of Europe during the World War II, parallel to American abstract
                expressionism. Several distinguishing trends are identified within the movement such as lyrical abstraction, matter painting, New Paris School, tachisme and art brut. The French art critic Michel Tapié coined the term "art autre" (other
                art) in the homonymous book published in 1952 in relation to non-geometric abstract art.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/eugene-leroy" target="_blank">
                    Eugene Leroy
                </a>,
                <a href="https://www.wikiart.org/en/maurice-esteve" target="_blank">
                    Maurice Esteve
                </a>,
                <a href="https://www.wikiart.org/en/eugene-brands" target="_blank">
                    Eugene Brands
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads5.wikiart.org/images/alberto-burri/sacking-and-red-1954.jpg!Large.jpg" alt="Art Informel" , style="width:400px">
                    <figcaption><i>Alberto Burri, Sacking and Red, 1954
                </i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Minimalism</h5>
                <br>Minimalism in visual art, generally referred to as "minimal art", "literalist art" and "ABC Art" emerged in New York in the early 1960s as new and older artists moved toward geometric abstraction; exploring via painting in the cases
                of Frank Stella, Kenneth Noland, Al Held, Ellsworth Kelly, Robert Ryman and others; and sculpture in the works of various artists including David Smith, Anthony Caro, Tony Smith, Sol LeWitt, Carl Andre, Dan Flavin, Donald Judd and others.
                Judd's sculpture was showcased in 1964 at Green Gallery in Manhattan, as were Flavin's first fluorescent light works, while other leading Manhattan galleries like Leo Castelli Gallery and Pace Gallery also began to showcase artists focused
                on geometric abstraction. In addition there were two seminal and influential museum exhibitions: Primary Structures: Younger American and British Sculpture shown from April 27 – June 12, 1966 at the Jewish Museum in New York, organized
                by the museum's Curator of Painting and Sculpture, Kynaston McShine and Systemic Painting, at the Solomon R. Guggenheim Museum curated by Lawrence Alloway also in 1966 that showcased Geometric abstraction in the American art world via
                Shaped canvas, Color Field, and Hard-edge painting. In the wake of those exhibitions and a few others the art movement called minimal art emerged.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/agnes-martin" target="_blank">
                    Agnes Martin
                </a>,
                <a href="https://www.wikiart.org/en/brice-marden" target="_blank">
                    Brice Marden
                </a>,
                <a href="https://www.wikiart.org/en/anne-truitt" target="_blank">
                    Anne Truitt
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads3.wikiart.org/images/imi-knoebel/grace-kelly-iii-1994.jpg!Large.jpg" alt="Minimalism" , style="width:400px">
                    <figcaption><i>Imi Knoebel, Grace Kelly III, 1994</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Neo-Expressionism</h5>
                <br>Neo-expressionism is a style of late modernist or early-postmodern painting and sculpture that emerged in the late 1970s. Neo-expressionists were sometimes called Transavantgarde, Junge Wilde or Neue Wilden ('The new wild ones'; 'New
                Fauves' would better meet the meaning of the term). It is characterized by intense subjectivity and rough handling of materials. Neo-expressionism developed as a reaction against conceptual art and minimal art of the 1970s. Neo-expressionists
                returned to portraying recognizable objects, such as the human body (although sometimes in an abstract manner), in a rough and violently emotional way, often using vivid colors. It was overtly inspired by German Expressionist painters,
                such as Emil Nolde, Max Beckmann, George Grosz, Ernst Ludwig Kirchner, James Ensor and Edvard Munch. It is also related to American Lyrical Abstraction painting of the 1960s and 1970s, The Hairy Who movement in Chicago, the Bay Area Figurative
                School of the 1950s and 1960s, the continuation of Abstract Expressionism, New Image Painting and precedents in Pop Painting.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/jean-michel-basquiat" target="_blank">
                    Jean-Michel Basquiat 
                </a>,
                <a href="https://www.wikiart.org/en/pierre-alechinsky" target="_blank">
                    Pierre Alechinsky
                </a>,
                <a href="https://www.wikiart.org/en/dana-schutz" target="_blank">
                    Dana Schutz
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads6.wikiart.org/images/jean-michel-basquiat/glenn.jpg!Large.jpg" alt="Neo-Expressionism" , style="width:400px">
                    <figcaption><i>Jean-Michel Basquiat, Glenn, 1984
                </i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Pop Art</h5>
                <br>Pop art is an art movement that emerged in the United Kingdom and the United States during the mid- to late-1950s. The movement presented a challenge to traditions of fine art by including imagery from popular and mass culture, such
                as advertising, comic books and mundane mass-produced cultural objects. One of its aims is to use images of popular (as opposed to elitist) culture in art, emphasizing the banal or kitschy elements of any culture, most often through the
                use of irony. It is also associated with the artists' use of mechanical means of reproduction or rendering techniques. In pop art, material is sometimes visually removed from its known context, isolated, or combined with unrelated material.
                Among the early artists that shaped the pop art movement were Eduardo Paolozzi and Richard Hamilton in Britain, and Larry Rivers, Robert Rauschenberg and Jasper Johns among others in the United States. Pop art is widely interpreted as
                a reaction to the then-dominant ideas of abstract expressionism, as well as an expansion of those ideas. Due to its utilization of found objects and images, it is similar to Dada. Pop art and minimalism are considered to be art movements
                that precede postmodern art, or are some of the earliest examples of postmodern art themselves.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/andy-warhol" target="_blank">
                    Andy Warhol
                </a>,
                <a href="https://www.wikiart.org/en/hiro-yamagata" target="_blank">
                    Hiro Yamagata
                </a>,
                <a href="https://www.wikiart.org/en/roy-lichtenstein" target="_blank">
                    Roy Lichtenstein
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads7.wikiart.org/images/andy-warhol/benz-racing-car.jpg!Large.jpg" alt="Pop Art" , style="width:400px">
                    <figcaption><i>Andy Warhol, Benz Racing Car, 1986</i></figcaption>
                </figure>
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                <h5>Conceptual Art</h5>
                <br>Conceptual art, also referred to as conceptualism, is art in which the concept(s) or idea(s) involved in the work take precedence over traditional aesthetic, technical, and material concerns. Some works of conceptual art, sometimes
                called installations, may be constructed by anyone simply by following a set of written instructions. This method was fundamental to American artist Sol LeWitt's definition of conceptual art, one of the first to appear in print: In conceptual
                art the idea or concept is the most important aspect of the work. When an artist uses a conceptual form of art, it means that all of the planning and decisions are made beforehand and the execution is a perfunctory affair. The idea becomes
                a machine that makes the art.<br><br> Most prolific artists:<br>
                <a href="https://www.wikiart.org/en/arsen-savadov" target="_blank">
                    Arsen Savadov
                </a>,
                <a href="https://www.wikiart.org/en/alfio-giuffrida" target="_blank">
                    Alfio Giuffrida
                </a>,
                <a href="https://www.wikiart.org/en/francis-naranjo" target="_blank">
                    Francis Naranjo
                </a>
            </td>
            <td>
                <figure>
                    <img src="https://uploads1.wikiart.org/images/tracey-emin/sad-shower-in-new-york-1995.jpg!Large.jpg" alt="Conceptual Art" , style="width:400px">
                    <figcaption><i>Tracey Emin, Sad Shower in New York, 1995</i></figcaption>
                </figure>
            </td>
        </tr>
    </tbody>
</table>
<br><br> {% endblock %}